.autopay{
  padding: .83em 15.88541667% .7em;

  .autopay__layout{
    display: flex;
    margin-bottom: .1em;
  }

  .autopay__save {
    padding-top: .52em;
  }

  .autopay__title {
    font-size: .35em;
    font-weight: 400;
    margin-bottom: 2.37em;
    color: $site__title-color;
    @include title-font-2();
  }

  .autopay__ask {
    color: $site__title-color;
    @include title-font-2();
    padding-top: .42em;
  }

  .autopay__ask-title {
    font-size: .35em;
    font-weight: 400;
    margin-bottom: 2.09em;
  }

  .autopay__ask-text {
    font-size: .3em;
    line-height: 2em;
    margin-bottom: 5.33em;
  }

  .autopay__btns {
    display: flex;
    padding-top: 1.5em;
  }
}