.btn {
  border: 3px solid $btn-border;
  height: 70px;
  width: 300px;
  padding: 0 10px;
  color: $btn-color;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-transform: uppercase;
  background: $btn-back;
  margin-right: 30px;
  @include title-font-3();

  &:hover {
    background: $btn-back-hover;
    border-color: $btn-border-hover;
    color: $btn-color-active;
  }

  &:active {
    color: $btn-color-active;
    background: $btn-back-active;
    border-color: $btn-border-hover;

  }

}