.btn {
  border: .125em solid $btn-border;
  height: 2.92em;
  width: 12.5em;
  padding: 0 .42em;
  color: $btn-color;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: .24em;
  text-transform: uppercase;
  background: $btn-back;
  margin-right: 1.25em;
  @include title-font-3();

  &:hover {
    background: $btn-back-hover;
    border-color: $btn-border-hover;
    color: $btn-color-active;
  }

  &:active {
    color: $btn-color-active;
    background: $btn-back-active;
    border-color: $btn-border-hover;

  }

}