$site__title-color: #fff;
$site__title-after: #00a66e;

$payment-types__btn-back: #002a47;
$payment-types__btn-back-hover: #fff;
$payment-types__btn-color: #fff;
$payment-types__btn-color-hover: #001626;

$text-field-back: #002a47;
$text-field-back-focused: #fff;
$text-field-color: rgba( 255,255,255, .3 );

/*---------- nice-checkbox ----------*/
$nice-checkbox-after-color: #3374a1;
$nice-checkbox-color: #3374a1;
/*---------- /nice-checkbox ---------*/

/*---------- btn ----------*/
$btn-back: transparent;
$btn-back-hover: #3374a1;
$btn-back-active: #3374a1;
$btn-border: #3374a1;
$btn-color: #fff;
$btn-color-active: #fff;
/*---------- /btn ---------*/
