.license {
  padding: 2.02em 15.88541667% .7em;

  .license__agreement {
    position: relative;
    @include title-font-2();
    font-size: .3em;
    color: $site__title-color;
    line-height: 2em;
    padding-left: 3.33em;
    margin-bottom: 8.03em;

    &:after{
      position: absolute;
      top: .57em;
      left: .1em;
      box-sizing: border-box;
      border: .33em solid #fff;
      border-top: none;
      border-right: none;
      width: 1.13em;
      height: .7em;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      content: '';
    }
  }
  .license__btns {
    position: relative;
    display: flex;
    margin: 1.2em 0;
  }

  .license__text-btn {
    width: 15.83em;
    position: absolute;
    right: 0;
    top: 0;
  }

  .license__text {
    padding: 1.69em 15.88541667% .7em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    background: #002240;
    background: -moz-linear-gradient(top,  #002240 0%, #015491 87.5%, #005999 100%);
    background: -webkit-linear-gradient(top,  #002240 0%, #015491 87.5%,#005999 100%);
    background: linear-gradient(to bottom,  #002240 0%, #015491 87.5%,#005999 100%);

    h2 {
      @include title-font();
      font-size: .7em;
      color: $site__title-color;
      margin-bottom: 1.36em;
      position: relative;
      z-index: 1;
    }

    p {
      color: $license-color;
      @include title-font-2();
      font-size: .25em;
      line-height: 2em;
      margin-bottom: 1.24em;
      max-width: 50.8em;
      position: relative;
      z-index: 1;
    }
    .license__gradient {
      position: fixed;
      pointer-events: none;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: -moz-linear-gradient(top,  rgba(0,34,64,0) 0%, rgba(1,84,145,0) 87.5%, rgba(0,89,153,1) 100%);
      background: -webkit-linear-gradient(top,  rgba(0,34,64,0) 0%, rgba(1,84,145,0) 87.5%,rgba(0,89,153,1) 100%);
      background: linear-gradient(to bottom,  rgba(0,34,64,0) 0%, rgba(1,84,145,0) 87.5%,rgba(0,89,153,1) 100%);
      z-index: 2;
    }
  }
}