.mobile {

  .mobile__layout{
    display: flex;
  }

  .mobile__logo {
    margin-bottom: .6em;

    img {
      display: block;
    }
  }

  .mobile__list {
    padding-top: .52em;

    li {
      @include title-font-2();
      font-size: .25em;
      color: $site__title-color;
      padding-left: 3.32em;
      position: relative;
      line-height: 1.6em;
      width: 48em;
      margin-bottom: .8em;

      &:before {
        position: absolute;
        top: .52em;
        left: .8em;
        width: .4em;
        height: .4em;
        background: $site__title-color;
        border-radius: 50%;
        content: '';
      }
    }
  }

}