.payment {
  padding: .83em 15.88541667% .7em;

  .payment__btns {
    display: flex;
    padding-top: .52em;
  }

  .payment__layout_chk {
    padding-top: .46em;
  }
  .payment__copyright {
    position: absolute;
    bottom: 7.3em;
    right: 15.3em;
    opacity: .3;
    font-family: 'PT Sans Caption', sans-serif;
    color: #fff;
    font-size: .2em;
  }
}