.payment-types {
  padding: 0.70em 15.88541667%;

  .payment-types__title {
    color: $site__title-color;
    @include title-font-2();
    font-size: .3em;
    margin-bottom: 3.1em;
  }

  .payment-types__btn {
    display: block;
    position: relative;
    width: 34.8em;
    height: 3.2em;
    background: $payment-types__btn-back;
    color: $payment-types__btn-color;
    margin-bottom: 0.4em;
    font-size: 0.25em;
    white-space: nowrap;
    @include title-font-2();
    padding: 1.04em 0 0 1.12em;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    -webkit-transition-property: color, background, box-shadow, -webkit-transform;
    transition-property: color, background, box-shadow, transform;
    box-shadow: 0 0 0.4em rgba( 255,255,255,0 );

    &:after {
      position: absolute;
      right: 1.4em;
      top: 50%;
      border: 0.12em solid $payment-types__btn-color;
      border-bottom: none;
      border-left: none;
      width: 0.64em;
      height: 0.64em;
      margin-top: -0.32em;
      transform-origin: 50%;
      transform: rotate( 45deg );
      content: '';
    }

    &.selected,
    &:focus,
    &:hover {
      background: $payment-types__btn-back-hover;
      color: $payment-types__btn-color-hover;
      transform: translateX( 0.8em );
      box-shadow: 0 0 0.4em rgba( 255,255,255,0.53 );

      &:after {
        border-color: $payment-types__btn-color-hover;
      }

    }
  }

}