.site {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #002240;
  font-size: 100px;
  background: -moz-linear-gradient(top,  #002240 0%, #005999 100%);
  background: -webkit-linear-gradient(top,  #002240 0%,#005999 100%);
  background: linear-gradient(to bottom,  #002240 0%,#005999 100%);

  &.minimize {
    height: 50%;
  }

  .site__header {
    padding: 1.69em 15.88541667% 0;
  }

  .site__title {
    position: relative;
    color: $site__title-color;
    padding-left: 1.55em;


    &:after{
      position: absolute;
      top: 0.01em;
      left: 0;
      background: $site__title-after url("app/img/site__title.png") no-repeat center;
      background-size: 50%;
      width: 1em;
      height: 1em;
      content: '';
    }

    h1{
      @include title-font();
      font-size: 0.7em;
      margin-bottom: 0.03em;
    }

    h2 {
      @include title-font-2();
      font-size: 0.35em;
      margin-left: 0.02em;
    }

  }
}


