.text-field {
  display: inline-block;
  position: relative;
  width: 7.7em;
  height: .8em;

  input {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: none;
    background: $text-field-back;
    color: $text-field-color;
    font-size: .25em;
    padding: 0 1em;
    z-index: 1;
  }

  > div{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }

  &.text-field_small {
    width: 3.8em;
  }
}