.text-field {
  display: inline-block;
  position: relative;
  width: 7.7em;
  height: .8em;

  input {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: none;
    background: $text-field-back2;
    color: $text-field-color2;
    font-size: .25em;
    padding: 0 1em;
    z-index: 1;

    &.active {
      background: $text-field-back1;
      color: $text-field-color1;
      box-shadow: 0 0 .2em .06em $text-field-box-shadow1;
    }

    &.error {
      background: $text-field-back3;
      color: $text-field-color3;
      box-shadow: 0 0 15px 5px $text-field-box-shadow3;
    }

  }

  > div{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }

  &.text-field_small {
    width: 3.8em;
  }
}