
<!-- site -->
<div class="site">

    <!-- site__header -->
    <div class="site__header">

        <!-- site__title -->
        <div class="site__title">
            <h1>{{ content.title }}</h1>
            <h2>На {{ paymentData.amount }} Рубликов</h2>
        </div>
        <!-- /site__title -->

    </div>
    <!-- /site__header -->

    <my-payment-types
            (setSelectedPaymentType)="setSelectedPaymentType($event)"
            *ngIf="!selectedPaymentType && paymentsVisibility"></my-payment-types>

    <my-payment
            *ngIf="selectedPaymentType && selectedPaymentType.id && paymentsVisibility"
            [paymentData]="paymentData"
            (cancel)="cancel($event)"
            (changeSavePaymentData)="changeSavePaymentData($event)"
            (changeMobileNumber)="changeMobileNumber($event)"
            (changeAlfa)="changeAlfa($event)"
            (changeYandex)="changeYandex($event)"
            (changePayPaal)="changePayPaal($event)"
            (changeCardNumber)="changeCardNumber($event)"
            (changeCardMonth)="changeCardMonth($event)"
            (changeCardYear)="changeCardYear($event)"
            (changeCardCvv)="changeCardCvv($event)"
            (showLicense)="showLicense()"
            (showKeyboard)="showKeyboard($event)"></my-payment>

    <my-license
            *ngIf="!paymentsVisibility && licenseVisibility"
            (cancel)="cancel($event)"
            (showTransaction)="showTransaction($event)"></my-license>

    <my-transaction
            *ngIf="!paymentsVisibility && transactionVisibility"
            (cancel)="cancel($event)"
            (showAutoPay)="showAutoPay($event)"
            [paymentData]="paymentData"
            ></my-transaction>

    <my-autopay
            *ngIf="!paymentsVisibility && autoPayVisibility"
            (cancel)="cancel($event)"
            [autopayMinimum]="autopayData.minimum"
            [autopayMaximum]="autopayData.amount"
            (onChangeAutopayMinimum)="onChangeAutopayMinimum($event)"
            (onChangeAutopayMaximum)="onChangeAutopayMaximum($event)"></my-autopay>

</div>
<!-- /site -->

<my-keyboard
        *ngIf="keyboardVisibility"></my-keyboard>
