<!-- card -->
<form class="card" autocomplete="off" name="card">

    <!-- card__layout -->
    <div class="card__layout">

        <!-- label -->
        <label class="label" for="card__number">{{ content.numberLabel }}</label>
        <!-- /label -->
        
        <!-- inputs -->
        <div class="inputs">

            <!-- text-field -->
            <div class="text-field"
                 (click)="onClickInput($event,'cardNumber')">
                <input type="text" data-masksimbol="_" data-mask="____ ____ ____ ____"
                       [(ngModel)]="cardNumber"
                       id="card__number"
                       >
                <div></div>
            </div>
            <!-- /text-field -->

        </div>
        <!-- /inputs -->

    </div>
    <!-- /card__layout -->

    <!-- card__layout -->
    <div class="card__layout">

        <!-- label -->
        <label class="label" for="card__month">{{ content.periodLabel }}</label>
        <!-- /label -->

        <!-- inputs -->
        <div class="inputs">

            <!-- text-field -->
            <div class="text-field text-field_small"
                 (click)="onClickInput($event,'cardMonth')">
                <input type="text" type="text" data-masksimbol="_" data-mask="__"
                       [(ngModel)]="cardMonth"
                       id="card__month">
                <div></div>
            </div>
            <!-- /text-field -->

            <!-- text-field -->
            <div class="text-field text-field_small"
                 (click)="onClickInput($event,'cardYear')">
                <input type="text" data-masksimbol="_" data-mask="__"
                       [(ngModel)]="cardYear"
                       id="card__year">
                <div></div>
            </div>
            <!-- /text-field -->

        </div>
        <!-- /inputs -->

    </div>
    <!-- /card__layout -->

    <!-- card__layout -->
    <div class="card__layout">

        <!-- label -->
        <label class="label" for="card__cvv">{{ content.cvvLabel }}</label>
        <!-- /label -->

        <!-- inputs -->
        <div class="inputs">

            <!-- text-field -->
            <div class="text-field"
                 (click)="onClickInput($event,'cardCvv')">
                <input type="text" data-masksimbol="_" data-mask="___"
                       maxlength="3"
                       [(ngModel)]="cvvProtect"
                       id="card__cvv">
                <div></div>
            </div>
            <!-- /text-field -->

        </div>
        <!-- /inputs -->

    </div>
    <!-- /card__layout -->

</form>
<!-- /card -->