<button class="keyboard__key" (click)="onSymbolClick($event)" [addClassActive]="classActive" type="button">1</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" [addClassActive]="classActive" type="button">2</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" [addClassActive]="classActive" type="button">3</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" [addClassActive]="classActive" type="button">4</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" [addClassActive]="classActive" type="button">5</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" [addClassActive]="classActive" type="button">6</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" [addClassActive]="classActive" type="button">7</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" [addClassActive]="classActive" type="button">8</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" [addClassActive]="classActive" type="button">9</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" [addClassActive]="classActive" type="button">0</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" [addClassActive]="classActive" type="button">@</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" [addClassActive]="classActive" type="button">#</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" [addClassActive]="classActive" type="button">$</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" [addClassActive]="classActive" type="button">%</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" [addClassActive]="classActive" type="button">&</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" [addClassActive]="classActive" type="button">*</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" [addClassActive]="classActive" type="button">(</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" [addClassActive]="classActive" type="button">)</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" [addClassActive]="classActive" type="button">-</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" [addClassActive]="classActive" type="button">\</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" [addClassActive]="classActive" type="button">!</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" [addClassActive]="classActive" type="button">;</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" [addClassActive]="classActive" type="button">:</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" [addClassActive]="classActive" type="button">'</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" [addClassActive]="classActive" type="button">"</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" [addClassActive]="classActive" type="button">?</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" [addClassActive]="classActive" type="button">/</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" [addClassActive]="classActive" type="button">,</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" [addClassActive]="classActive" type="button">.</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" [addClassActive]="classActive" type="button">+</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" [addClassActive]="classActive" type="button">=</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" [addClassActive]="classActive" type="button">_</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" [addClassActive]="classActive" type="button">|</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" [addClassActive]="classActive" type="button">[</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" [addClassActive]="classActive" type="button">]</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" [addClassActive]="classActive" type="button">{</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" [addClassActive]="classActive" type="button">}</button>
