<!-- keyboard -->
<div class="keyboard">

    <my-keyboard-full *ngIf="keyboardVisibilityFull"
                      [capsOn]="capsOn"
                      (symbolType)="onKeyClick($event)"
                      (spaceType)="onKeySpaceClick($event)"></my-keyboard-full>


    <my-keyboard-numerical *ngIf="keyboardVisibilityNumerical"
                           (symbolType)="onKeyClick($event)"></my-keyboard-numerical>


    <!-- keyboard__footer -->
    <div class="keyboard__footer">

        <div>

            <!-- keyboard__delete -->
            <button class="keyboard__delete"
                    (click)="onClear()">

                <span>X</span>
                {{ btnFooterText.wipeOff }}

            </button>
            <!-- /keyboard__delete -->

            <!-- keyboard__caps -->
            <button *ngIf="keyboardVisibilityFull"
                    class="keyboard__caps"
                    (click)="onCapsClick()">

                <span>LT</span>
                {{ btnFooterText.caps }}

            </button>
            <!-- /keyboard__caps -->

            <!-- keyboard__move -->
            <div class="keyboard__move">

                <!-- keyboard__caps -->
                <button class="keyboard__move-left">LB</button>
                <!-- /keyboard__caps -->

                <!-- keyboard__caps -->
                <button class="keyboard__move-right">RB</button>
                <!-- /keyboard__caps -->

                {{ btnFooterText.move }}

            </div>
            <!-- /keyboard__move -->

        </div>
        <div>

            <!-- keyboard__save -->
            <button class="keyboard__save"
                    (click)="onSave()">

                <span>старт</span>
                {{ btnFooterText.save }}

            </button>
            <!-- /keyboard__save -->

        </div>


    </div>
    <!-- /keyboard__footer -->

</div>
<!-- /keyboard -->