<!-- keyboard -->
<div class="keyboard">

    <my-keyboard-full *ngIf="keyboardVisibilityFull"
                      [capsOn]="capsOn"
                      (symbolType)="onKeyClick($event)"
                      (spaceType)="onKeySpaceClick($event)"></my-keyboard-full>


    <my-keyboard-numerical *ngIf="keyboardVisibilityNumerical"
                           (symbolType)="onKeyClick($event)"></my-keyboard-numerical>


    <!-- keyboard__footer -->
    <div class="keyboard__footer">

        <div>

            <!-- keyboard__delete -->
            <button  type="button" class="keyboard__delete"
                    (click)="onClear()">

                <span>X</span>
                {{ btnFooterText.wipeOff }}

            </button>
            <!-- /keyboard__delete -->

            <!-- keyboard__caps -->
            <button type="button"
                    *ngIf="keyboardVisibilityFull"
                    class="keyboard__caps"
                    (click)="onCapsClick()">

                <span>LT</span>
                {{ btnFooterText.caps }}

            </button>
            <!-- /keyboard__caps -->

            <!-- keyboard__move -->
            <div class="keyboard__move">

                <!-- keyboard__caps -->
                <button type="button" class="keyboard__move-left"
                        (click)="onMoveLeft()">LB</button>
                <!-- /keyboard__caps -->

                <!-- keyboard__caps -->
                <button type="button" class="keyboard__move-right"
                        (click)="onMoveRight()">RB</button>
                <!-- /keyboard__caps -->

                {{ btnFooterText.move }}

            </div>
            <!-- /keyboard__move -->

        </div>
        <div>

            <!-- keyboard__print -->
            <div class="keyboard__print">

                <button type="button" class="keyboard__start"
                        (click)="onStart()">старт</button>

                <button type="button" class="keyboard__save"
                        (click)="onSave()">

                    {{ btnFooterText.save }}

                </button>

            </div>
            <!-- /keyboard__print -->

        </div>


    </div>
    <!-- /keyboard__footer -->

</div>
<!-- /keyboard -->