<button class="keyboard__key" (click)="onSymbolClick($event)" type="button">1</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" type="button">2</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" type="button">3</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" type="button">4</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" type="button">5</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" type="button">6</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" type="button">7</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" type="button">8</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" type="button">9</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" type="button">0</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" type="button">@</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" type="button">#</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" type="button">$</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" type="button">%</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" type="button">&</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" type="button">*</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" type="button">(</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" type="button">)</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" type="button">-</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" type="button">\</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" type="button">!</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" type="button">;</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" type="button">:</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" type="button">'</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" type="button">"</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" type="button">?</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" type="button">/</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" type="button">,</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" type="button">.</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" type="button">+</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" type="button">=</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" type="button">_</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" type="button">|</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" type="button">[</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" type="button">]</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" type="button">{</button>
<button class="keyboard__key" (click)="onSymbolClick($event)" type="button">}</button>
<button class="keyboard__key keyboard__key_space" (click)="onSymbolSpaceClick($event)" type="button">Пробел</button>