<!-- keyboard__items -->
<div class="keyboard__items">
    <div>

        <!-- keyboard__screen -->
        <div class="keyboard__screen">

            <my-keyboard-full-en *ngIf="keyboardFullEn"
                                 [capsOn]="capsOn"
                                 (symbolType)="onSymbolClick($event)"
                                 (spaceType)="onSymbolSpaceClick($event)"></my-keyboard-full-en>

            <my-keyboard-full-ru *ngIf="keyboardFullRu"
                                 [capsOn]="capsOn"
                                 (symbolType)="onSymbolClick($event)"
                                 (spaceType)="onSymbolSpaceClick($event)"></my-keyboard-full-ru>

            <my-keyboard-full-symbol *ngIf="keyboardFullSymbol"
                                     (symbolType)="onSymbolClick($event)"
                                     (spaceType)="onSymbolSpaceClick($event)"></my-keyboard-full-symbol>

        </div>
        <!-- /keyboard__screen -->

        <!-- keyboard__types -->
        <div class="keyboard__types">

            <div class="keyboard__types-item">
                <a (click)="onKeyboardFullTypeClick('symbol')" [class.active]="keyboardFullSymbol" href="#">#/=</a>
            </div>
            <div class="keyboard__types-item">
                <a (click)="onKeyboardFullTypeClick('en')" [class.active]="keyboardFullEn" href="#">English</a>
            </div>
            <div class="keyboard__types-item">
                <a (click)="onKeyboardFullTypeClick('ru')" [class.active]="keyboardFullRu" href="#">Русский</a>
            </div>

        </div>
        <!-- /keyboard__types -->

    </div>
</div>
<!-- /keyboard__items -->