<!-- mobile -->
<form class="mobile">

    <!-- mobile__layout -->
    <div class="mobile__layout">

        <!-- label -->
        <label class="label" for="mobile__number">{{ content.inputLabel }}</label>
        <!-- /label -->
        
        <!-- inputs -->
        <div class="inputs">

            <!-- text-field -->
            <div class="text-field">
                <input type="text"
                       [(ngModel)]="mobileNumber"
                       id="mobile__number"
                       (keyup)="onChangeMobileNumber()"
                       (click)="onClickInput('mobileNumber')">
            </div>
            <!-- /text-field -->

        </div>
        <!-- /inputs -->

    </div>
    <!-- /mobile__layout -->

    <!-- mobile__layout -->
    <div class="mobile__layout">

        <!-- mobile__list -->
        <ul class="mobile__list">
            <li *ngFor="#item of content.explanation">{{item}}</li>
        </ul>
        <!-- /mobile__list -->

    </div>
    <!-- /mobile__layout -->


</form>
<!-- /mobile -->