<!-- mobile -->
<form class="mobile">
    
    <!-- mobile__logo -->
    <div class="mobile__logo">
        <img src="app/img/qiwi.png" alt="qiwi">
    </div>
    <!-- /mobile__logo -->

    <!-- mobile__layout -->
    <div class="mobile__layout">

        <!-- label -->
        <label class="label" for="mobile__number">{{ content.inputLabel }}</label>
        <!-- /label -->

        <!-- inputs -->
        <div class="inputs">

            <!-- text-field -->
            <div class="text-field">
                <input type="text"
                       [(ngModel)]="mobileNumber"
                       id="mobile__number"
                       (keyup)="onChangeMobileNumber()">
            </div>
            <!-- /text-field -->

        </div>
        <!-- /inputs -->

    </div>
    <!-- /mobile__layout -->
    
</form>
<!-- /mobile -->